@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

div.tile {
  @apply outline-[9px] outline outline-bg-dark bg-bg-dark
}

.tile:not(:has(div.tile)) div.tile-content {
  @apply p-[16px] flex
}

.tile:has(div.tile) {
  @apply grid grid-cols-subgrid grid-rows-subgrid p-0
}

.tile:has(div.tile) div.tile-content {
  @apply grid grid-cols-subgrid grid-rows-subgrid gap-[16px]
}

.tile:has(div.tile) div.tile {
  outline: none;
  @apply bg-transparent
}

.tile:has(div.tile) div.tile div.tile-content {
  box-shadow: none; 
  outline: none;
  @apply hover:translate-y-0
}

div.tile-content {
  outline: transparent solid 2px;
  @apply rounded-[16px] hover:translate-y-[-4px] transition-all
}

div.tile-content.tile-inactive {
  @apply hover:translate-y-0
}

div.tile-content.bg-tile-gray:hover {
  outline-color: #757575;
}
div.tile-content.bg-tile-gray:hover:not(.tile-inactive) {
  box-shadow: 0 4px 0 2px #757575;
}

div.tile-content.bg-main-blue:hover {
  outline-color: #006D8F;
}
div.tile-content.bg-main-blue:hover:not(.tile-inactive) {
  box-shadow: 0 4px 0 2px #006D8F;
}

div.tile-content.bg-tile-red:hover {
  outline-color: #781818;
}
div.tile-content.bg-tile-red:hover:not(.tile-inactive) {
  box-shadow: 0 4px 0 2px #781818;
}

.tile:has(div.tile) div.tile div.tile-content {
  @apply flex flex-col gap-[8px]
}

div.tile-content.blue.tile-bigtext {
 @apply text-tile-gray
}

div.tile-content.gray.tile-bigtext {
  @apply text-main-blue
}

.tile-1x1 {
  @apply col-span-1 row-span-1
}
.tile-2x2 {
  @apply col-span-2 row-span-2
}
.tile-3x1 {
  @apply col-span-3 row-span-1
}
.tile-2x1 {
  @apply col-span-2 row-span-1
}
.tile-4x2 {
  @apply col-span-4 row-span-2
}
.tile-3x2 {
  @apply col-span-3 row-span-2
}
.gray {
  @apply bg-tile-gray text-bg-dark
}
.red {
  @apply bg-tile-red text-black
}
.blue {
  @apply bg-main-blue text-bg-dark
}
.dark-gray {
  @apply bg-bg-dark text-white
}
.white {
  @apply bg-white text-bg-dark
}
.mid-gray {
  @apply bg-main-dark text-tile-gray outline outline-transparent outline-[2px] outline-offset-[-2px] hover:outline-tile-gray
}
.outline-gray {
  @apply outline-tile-gray
}
.outline-red {
  @apply outline-tile-red
}
.outline-blue {
  @apply outline-main-blue
}
.outline-dark-gray {
  @apply outline-bg-dark
}
.section-left {
  @apply items-start text-left
}
.section-right {
  @apply items-end text-right
}
.section-center {
  @apply items-center text-center
}
.tile-top {
  @apply flex-col
}
.tile-bottom {
  @apply flex-col justify-end
}
.tile-bottom-reversed {
  @apply flex-col-reverse
}
.tile-center {
  @apply justify-center items-center
}
.blanktile {
  perspective: 1000px;
}
.tile-content:hover::before {
  animation: dupa 0.4s ease-out;
}
.tile-content {
  position: relative;
  overflow: hidden;
}
.tile-content::before {
  z-index: 300;
  top: -20%;
  rotate: 10deg;
  content: "";
  left: -50%;
  position: absolute;
  height: 150%;
  width: 40%;
  background-color: white
}
.tile:has(.tile) .tile .tile-content::before {
  content: none
}
.tile:has(.tile) .tile .tile-content {
  animation: none;
}
.tile-inactive::before {
  content: none;
}

@keyframes dupa {
  from {
    rotate: 10deg;
    width: 40%;
    left: -25%;
  } to {
    rotate: 5deg;
    width: 5%;
    left: 100%
  }
}

.tile-edit {
  animation: shake 0.2s infinite ease-in;
}

@keyframes shake {
  0% {
    rotate: 0deg
  } 25% {
    rotate: 0.5deg
  } 50% {
    rotate: 0deg
  } 100% {
    rotate: -0.5deg
  }
}

.dupa {
  box-shadow: inset 0 0 360px 20px #2E2E2E;
}