@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.outline-default {
    @apply outline outline-dark outline-1 -outline-offset-1
}
.color-default {
    @apply bg-back text-dark
}
.hover-default {
    @apply hover:bg-dark hover:text-white hover:rounded-lg
}
.rounded-default {
    @apply rounded-md
}
.all-default {
    @apply outline-default color-default rounded-default
}
main {
    background-image: "./ph_plus-thin.svg";
    background-repeat: repeat;
}